Repository dreadnode/rigging, pull requests merged in 2025-06, with the labels that each got.

#144 chore: switch generator to o3-mini
  .hooks/generate_pr_description.py
Labels: area/pre-commit

#129 feat: Tokenizer and tool tracking [WIP]
  docs/api/chat.mdx
  docs/api/data.mdx
  docs/api/error.mdx
  docs/api/generator.mdx
  docs/api/message.mdx
  docs/api/model.mdx
  docs/api/tokenize.mdx
  docs/api/tool.mdx
  docs/api/tools.mdx
  docs/api/transform.mdx
  docs/api/util.mdx
  docs/docs.json
  docs/topics/tools.mdx
  examples/robopages.py
  examples/tokenize.ipynb
  rigging/__init__.py
  rigging/chat.py
  rigging/data.py
  rigging/error.py
  rigging/generator/base.py
  rigging/generator/http.py
  rigging/generator/litellm_.py
  rigging/generator/transformers_.py
  rigging/generator/vllm_.py
  rigging/message.py
  rigging/model.py
  rigging/prompt.py
  rigging/tokenize/__init__.py
  rigging/tokenize/base.py
  rigging/tokenize/tokenizer.py
  rigging/tool/__init__.py
  rigging/tool/api.py
  rigging/tool/native.py
  rigging/tools/__init__.py
  rigging/tools/base.py
  rigging/tools/mcp.py
  rigging/tools/robopages.py
  rigging/transform/__init__.py
  rigging/transform/base.py
  rigging/transform/json_tools.py
  rigging/transform/xml_tools.py
  rigging/util.py
  tests/test_chat.py
  tests/test_tool.py
  tests/test_watchers.py
  tests/test_xml_parsing.py
Labels: area/docs, area/tests, area/examples, type/docs

#159 fix: typing check for transformers
  docs/api/data.mdx
  docs/api/tokenize.mdx
  rigging/data.py
  rigging/tokenize/tokenizer.py
Labels: area/docs, type/docs

#160 fix: 3.0.3 -> 3.0.3a
  pyproject.toml
Labels: area/python
